/* CSS */

.btn {
    padding: 10px;
    margin: 10px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: black;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: teal;
    border-radius: 5px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.controls {
    text-align: center;
}

#timer {
    text-align: center;
}

#score {
    text-align: center;
}

#question {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
} */

/* .hide {
    display: none;
}

#next-button {
    display: none;
} */